<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>this is user profile</h1>
    <h1 data-th-text="${LoggedInUser.name}"></h1>
    <h1 data-th-text="${LoggedInUser.email}"></h1>
    
    <!-- agar user logged in hua hai toh -->
     <div data-th-if="${LoggedInUser}">

        <h1> User is Logged in </h1>
        <h1> This is user logged in section </h1>

     </div>
</body>
</html>