<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is About Page </h1>

    <!-- using fragment -->
    <div class="host-tag" th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test(~{::#not_login})}">
        <section>
            <h1>User LoggedIn</h1>
            <h2>Dynamic Content</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, labore? </p>
            <button>Click on dynamic Content</button>
        </section>

        <section id="not_login">
            <h1>User Not LoggedIn</h1>
        </section>
        
    </div>

</body>
</html>