<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{/css/output.css}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container bg-gray-200 w-1/2 p-4 flex flex-col space-y-3 justify-center items-center mx-auto mt-4">
        <h1 class="text-2xl font-bold" data-th-text="${name}">Welcome to Home Page</h1>
        <p class="text-xl text-gray-700">Youtube Channel: <span data-th-text="${youtubeChannel}"> </span> </p>
        <p> Address: <span th:text="${address}"> </span> </p>
        <a th:href="${youtubeChannel}"> open Youtube</a>
        <p class="text-gray-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste molestias nostrum perspiciatis debitis quis. Qui, consectetur? Dicta veritatis asperiores sint quia distinctio, voluptatibus corrupti eius impedit repellat libero ratione quod dolor deleniti repudiandae vero sequi explicabo consequuntur odio iure magni omnis dolore! Iusto obcaecati dolorem nisi tenetur corporis harum amet.</p>
        <div><button class=" px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-600">Click Here</button></div>
    </div>        
     
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>